<h4>@NorthwindPresentationResources.TaskNorthwindHelp</h4>
<br />
Category<br />
<a href="@Url.Content("/api/categoryapi")">api/categoryapi</a><br />
<a href="@Url.Content("/api/categoryapi/1")">api/categoryapi/1</a><br />
<br />
CustomerCustomerDemo<br />
<a href="@Url.Content("/api/customercustomerdemoapi")">api/customercustomerdemoapi</a><br />
<a href="@Url.Content("/api/customercustomerdemoapi/1")">api/customercustomerdemoapi/1</a><br />
<br />
CustomerDemographic<br />
<a href="@Url.Content("/api/customerdemographicapi")">api/customerdemographicapi</a><br />
<a href="@Url.Content("/api/customerdemographicapi/1")">api/customerdemographicapi/1</a><br />
<br />
Customer<br />
<a href="@Url.Content("/api/customerapi")">api/customerapi</a><br />
<a href="@Url.Content("/api/customerapi/1")">api/customerapi/1</a><br />
<br />
Employee<br />
<a href="@Url.Content("/api/employeeapi")">api/employeeapi</a><br />
<a href="@Url.Content("/api/employeeapi/1")">api/employeeapi/1</a><br />
<br />
EmployeeTerritory<br />
<a href="@Url.Content("/api/employeeterritoryapi")">api/employeeterritoryapi</a><br />
<a href="@Url.Content("/api/employeeterritoryapi/1")">api/employeeterritoryapi/1</a><br />
<br />
OrderDetail<br />
<a href="@Url.Content("/api/orderdetailapi")">api/orderdetailapi</a><br />
<a href="@Url.Content("/api/orderdetailapi/1")">api/orderdetailapi/1</a><br />
<br />
Order<br />
<a href="@Url.Content("/api/orderapi")">api/orderapi</a><br />
<a href="@Url.Content("/api/orderapi/1")">api/orderapi/1</a><br />
<br />
Product<br />
<a href="@Url.Content("/api/productapi")">api/productapi</a><br />
<a href="@Url.Content("/api/productapi/1")">api/productapi/1</a><br />
<br />
Region<br />
<a href="@Url.Content("/api/regionapi")">api/regionapi</a><br />
<a href="@Url.Content("/api/regionapi/1")">api/regionapi/1</a><br />
<br />
Shipper<br />
<a href="@Url.Content("/api/shipperapi")">api/shipperapi</a><br />
<a href="@Url.Content("/api/shipperapi/1")">api/shipperapi/1</a><br />
<br />
Supplier<br />
<a href="@Url.Content("/api/supplierapi")">api/supplierapi</a><br />
<a href="@Url.Content("/api/supplierapi/1")">api/supplierapi/1</a><br />
<br />
Territory<br />
<a href="@Url.Content("/api/territoryapi")">api/territoryapi</a><br />
<a href="@Url.Content("/api/territoryapi/1")">api/territoryapi/1</a><br />
