<h4>@ChinookPresentationResources.TaskChinookHelp</h4>
<br />
Album<br />
<a href="@Url.Content("/api/albumapi")">api/albumapi</a><br />
<a href="@Url.Content("/api/albumapi/1")">api/albumapi/1</a><br />
<br />
Artist<br />
<a href="@Url.Content("/api/artistapi")">api/artistapi</a><br />
<a href="@Url.Content("/api/artistapi/1")">api/artistapi/1</a><br />
<br />
Customer<br />
<a href="@Url.Content("/api/customerapi")">api/customerapi</a><br />
<a href="@Url.Content("/api/customerapi/1")">api/customerapi/1</a><br />
<br />
CustomerDocument<br />
<a href="@Url.Content("/api/customerdocumentapi")">api/customerdocumentapi</a><br />
<a href="@Url.Content("/api/customerdocumentapi/1")">api/customerdocumentapi/1</a><br />
<br />
Employee<br />
<a href="@Url.Content("/api/employeeapi")">api/employeeapi</a><br />
<a href="@Url.Content("/api/employeeapi/1")">api/employeeapi/1</a><br />
<br />
Genre<br />
<a href="@Url.Content("/api/genreapi")">api/genreapi</a><br />
<a href="@Url.Content("/api/genreapi/1")">api/genreapi/1</a><br />
<br />
Invoice<br />
<a href="@Url.Content("/api/invoiceapi")">api/invoiceapi</a><br />
<a href="@Url.Content("/api/invoiceapi/1")">api/invoiceapi/1</a><br />
<br />
InvoiceLine<br />
<a href="@Url.Content("/api/invoicelineapi")">api/invoicelineapi</a><br />
<a href="@Url.Content("/api/invoicelineapi/1")">api/invoicelineapi/1</a><br />
<br />
MediaType<br />
<a href="@Url.Content("/api/mediatypeapi")">api/mediatypeapi</a><br />
<a href="@Url.Content("/api/mediatypeapi/1")">api/mediatypeapi/1</a><br />
<br />
Playlist<br />
<a href="@Url.Content("/api/playlistapi")">api/playlistapi</a><br />
<a href="@Url.Content("/api/playlistapi/1")">api/playlistapi/1</a><br />
<br />
PlaylistTrack<br />
<a href="@Url.Content("/api/playlisttrackapi")">api/playlisttrackapi</a><br />
<a href="@Url.Content("/api/playlisttrackapi/1")">api/playlisttrackapi/1</a><br />
<br />
Track<br />
<a href="@Url.Content("/api/trackapi")">api/trackapi</a><br />
<a href="@Url.Content("/api/trackapi/1")">api/trackapi/1</a><br />
